# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# NextAuth.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=FormFlow <onboarding@resend.dev>
RESEND_REPLY_TO_EMAIL=
RESEND_TEST_EMAIL=
